
.icon {
    max-width: 116px;
    max-height: 116px;
}

/*--icon1--*/
#icon1:hover .cls-1{
    fill: #fc635e;
}

#icon1:hover .cls-2 {
    fill: #fff;
}
#icon1:hover .cls-3 {
    fill: #fe8682;
}

/*--icon2--*/
#icon2:hover .cls-1{
    fill: #fc635e;
}

#icon2:hover .cls-2 {
    fill: #fff;
}
#icon2:hover .cls-3 {
    fill: #fe8682;
}

/*--icon3--*/
#icon3:hover .cls-1{
    fill: #fc635e;
}

#icon3:hover .cls-2 {
    fill: #fff;
}
#icon3:hover .cls-3 {
    fill: #fe8682;
}

/*--icon4--*/
#icon4:hover .cls-1{
    fill: #fc635e;
}

#icon4:hover .cls-2 {
    fill: #fff;
}
#icon4:hover .cls-3 {
    fill: #fe8682;
}