body {
    margin: 0 auto;
    max-width: 1260px;
    a.arrowDown {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 30px;
        text-decoration: none;
        color:  #fc635e;
        border-radius: 50%;
        border: 2px solid #fc635e;
        background: transparent;
        display: flex;
        width: 45px;
        height: 45px;
        justify-content: center;
        &:hover {
            background: #fc635e;
            // opacity: .7;
            color: white;
        }
    }

    a.btn {
        color: #fc635e;
        text-decoration: none;
        font-size: 22px;
        border: 2px solid #fc635e;
        padding: 12px 28px;
        border-radius: 8px;
        &:hover {
            background: #fc635e;
            color: white;
        }
    }

    .section-promo {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 50px;
        color: white;
        span {
            color: #fc635e; 
        }
    }

    .section-title {
        display: inline-block;
        font-size: 40px;
        text-transform: uppercase;
        // text-decoration: solid 2px #ADADAD underline;
        // text-underline-position: below 10px;
        border-bottom: solid 2px #ADADAD;
        span {
          color: #fc635e;
        }
    }

    header {
        background: url('../img/background.png') no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        min-height: 600px;
        width: 100%;
        max-width: 1260px;
        justify-content: space-around;
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            >a {
                color: white;
                font-size: 25px;
                font-weight: bold;
                text-decoration: none;
                img {
                    padding-right: 15px;
                    vertical-align: middle;
                }
            }
            .logo:hover img {
                opacity: 0.7;
            }
            menu {
                list-style: none;
                text-transform: uppercase;
                display: flex;
                li {
                    padding-left: 15px;
                    a {
                        color: white;
                        font-size: 20px;
                        text-decoration: none;
                        &:hover {
                            color:#fc635e;
                            border-bottom: #fc635e solid 3px;
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }

        .mainText {
            text-align: center;
            .section-promo {
                font-weight: normal;
            }
            p {
                color: white;
                font-size: 22px;
            }
        } 

    }

    .receive {
        margin-top: 0;
        text-align: center;
        background: white;
        padding: 70px 50px 10px 50px;
        color: #868686;
        p {
            font-size: 20px;
            margin-bottom: 50px;
            color: #ADADAD;
            max-width: 500px;
            margin: 0 auto;
            margin-bottom: 80px;
        }

 

        // .section_title {
        //     display: block;
        //     position: relative;
        //     margin: 0 auto;
        //     font-size: 40px;
        //     text-transform: uppercase;
        //     span {
        //       color: #fc635e;
        //     }
        //     &:after {
        //         display: block;
        //         background-color: #ADADAD;
        //         content: " ";
        //         height: 2px;
        //         width: 0%;
        //         left: 50%;
        //         position:absolute;
        //         transition: width .3s ease-in-out;
        //         transform:translateX(-50%);
        //     }

        //     .section_title:hover:after,
        //     .section_title:focus:after {
        //         width: 100%;
        //     }
        // }
        

        a {
            font-size: 30px;
            text-decoration: none;
            color: #fc635e;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            &:hover {
                background: #fc635e;
                color: white;
            }
        }

        .icons {
            display: flex;
            justify-content: space-between;
            .icons-cont{
                max-width: 200px;
                h3 {
                    text-decoration: underline;
                    text-transform: uppercase;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    .expand {
        background: url('../img/expand.png') center no-repeat;
        min-height: 640px;
    }

}