body {
  margin: 0 auto;
  max-width: 1260px;
  font-family: "Helvetica", "Tahoma", "PF Encore Sans Pro", sans-serif;
  /*--header--*/
  /*--section receive--*/
  /*--section expand--*/
  /*--section our process--*/
  /*--section we do--*/
}
body div.cont {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}
body a.arrowDown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 30px;
  line-height: 45px;
  text-decoration: none;
  color: #fc635e;
  border-radius: 50%;
  border: 2px solid #fc635e;
  background: transparent;
  width: 45px;
  height: 45px;
}
body a.arrowDown:hover {
  background: #fc635e;
  color: white;
}
body a.btn {
  color: #fc635e;
  text-decoration: none;
  font-size: 22px;
  border: 2px solid #fc635e;
  padding: 12px 28px;
  border-radius: 8px;
}
body a.btn:hover {
  background: #fc635e;
  color: white;
}
body .section-promo {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  color: white;
}
body .section-promo span {
  color: #fc635e;
}
body .section-title {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  font-size: 40px;
  color: #868686;
  text-transform: uppercase;
}
body .section-title span {
  color: #fc635e;
}
body .section-title:after {
  display: block;
  background-color: #ADADAD;
  content: " ";
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
body .section-title:hover:after,
body .section-title:focus:after {
  width: 100%;
}
body .section-describe {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 50px;
  text-align: center;
  color: #ADADAD;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 80px;
}
body .section-block {
  display: flex;
  justify-content: space-between;
}
body header {
  background: url('../img/background.png') no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  max-width: 1260px;
  padding-top: 25px;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav .logo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
}
body header nav .hexagon {
  display: flex;
  position: relative;
  width: 70px;
  height: 40.41px;
  background-color: #fc645f;
  margin: 20.21px 0;
}
body header nav .hexagon p {
  margin: 0 auto;
  font-size: 35px;
  font-family: "PF Encore Sans Pro";
  color: #0c252d;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
body header nav .hexagon:before,
body header nav .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
body header nav .hexagon:before {
  bottom: 100%;
  border-bottom: 20.21px solid #fc645f;
}
body header nav .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 20.21px solid #fc645f;
}
body header nav > .logo .logo-link {
  display: flex;
  align-content: center;
  align-self: center;
  font-size: 24px;
  font-family: 'Gotham Pro';
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  padding-left: 20px;
}
body header nav .logo:hover {
  opacity: 0.7;
}
body header nav menu {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
body header nav menu li {
  padding-left: 50px;
}
body header nav menu li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.25;
}
body header nav menu li a:hover {
  color: #fc635e;
  border-bottom: #fc635e solid 3px;
  padding-bottom: 5px;
}
body header .mainText {
  margin-top: 190px;
  margin-bottom: 60px;
  text-align: center;
}
body header .mainText .section-promo {
  margin: 0 auto;
  margin-bottom: 28px;
  font-family: "Myriad Pro";
  font-weight: normal;
}
body header .mainText p {
  margin: 0 auto;
  font-family: "Myriad Pro";
  font-size: 22px;
  color: white;
}
body header .btn {
  margin: 0 auto;
  margin-bottom: 240px;
}
body header .arrowDown {
  display: flex;
  margin: 0 auto;
  margin-top: 250px;
}
body .receive {
  margin-top: 0;
  text-align: center;
  background: white;
  padding: 70px 50px 10px 50px;
  color: #868686;
}
body .receive a {
  font-size: 30px;
  text-decoration: none;
  color: #fc635e;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
body .receive a:hover {
  background: #fc635e;
  color: white;
}
body .receive .icons {
  display: flex;
  justify-content: space-between;
}
body .receive .icons .icons-cont {
  max-width: 200px;
}
body .receive .icons .icons-cont h3 {
  text-decoration: underline;
  text-transform: uppercase;
}
body .receive .icons .icons-cont p {
  font-size: 15px;
}
body .expand {
  background: url('../img/bg_1.png') center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 20px;
}
body .expand .expand-cont {
  margin: 0 auto;
  border-width: 8px;
  border-color: rgba(255, 255, 255, 0.102);
  border-style: solid;
  max-width: 924px;
  padding-top: 125px;
  padding-bottom: 100px;
}
body .expand .expand-cont .section-promo {
  font-weight: bold;
  margin-bottom: 50px;
}
body .expand .arrowDown {
  margin-top: 50px;
}
body .process {
  text-align: center;
}
body .process .steps {
  display: none;
}
body .process img {
  width: 100%;
  height: auto;
}
body .we_do {
  text-align: center;
}
body .we_do .we_do-grey {
  background-color: #f2f2f2;
}
body .we_do .we_do-grey .section-block .section-text {
  max-width: 400px;
  text-align: left;
}
body .we_do .we_do-grey .section-block .section-text h3 {
  font-size: 28px;
  color: #868686;
  text-transform: uppercase;
  line-height: 40px;
  border-left: 11px solid #fc645f;
  padding-left: 12px;
}
body .we_do .we_do-grey .section-block .section-text p {
  font-size: 15px;
  color: #9e9898;
  line-height: 1.599;
  text-align: left;
}
body .we_do .we_do-grey .section-block .section-text button {
  width: 167px;
  height: 44px;
  border-radius: 7px;
  background-color: #fc635e;
  font-size: 20px;
  font-family: "PF Encore Sans Pro";
  font-weight: 200;
  color: #f2f2f2;
  line-height: 1.299;
  text-align: center;
  text-decoration: none;
}
body .we_do .we_do-grey img {
  width: 100%;
  height: auto;
}
body .we_do .we_do-white {
  background-color: #ffffff;
}
body .we_do .we_do-white .section-block .section-text {
  max-width: 400px;
  text-align: left;
}
body .we_do .we_do-white .section-block .section-text h3 {
  font-size: 28px;
  color: #868686;
  text-transform: uppercase;
  text-align: right;
  line-height: 40px;
  border-right: 11px solid #fc645f;
  padding-right: 12px;
}
body .we_do .we_do-white .section-block .section-text p {
  font-size: 15px;
  color: #9e9898;
  line-height: 1.599;
  text-align: right;
}
body .we_do .we_do-white .section-block .section-text button {
  width: 167px;
  height: 44px;
  border-radius: 7px;
  background-color: #fc635e;
  font-size: 20px;
  font-weight: 200;
  font-family: "PF Encore Sans Pro";
  color: #f2f2f2;
  line-height: 1.299;
  text-align: center;
}
body .we_do .we_do-white img {
  width: 100%;
  height: auto;
}
body .portfolio {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .portfolio .controls {
  display: inline-flex;
  justify-content: space-around;
  border-top: 1px solid #868686;
  border-bottom: 1px solid #868686;
  padding: 24px 0;
  text-align: center;
  align-self: center;
}
body .portfolio .controls button {
  font-size: 20px;
  font-family: "PF Encore Sans Pro";
  color: #fc635e;
  background: transparent;
  border: none;
  text-transform: uppercase;
  line-height: 1.299;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
body .portfolio .container-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .portfolio .container-filter div {
  width: 200px;
  height: 150px;
  background: #868686;
  border: 1px solid #000000;
}
body .portfolio button {
  width: auto;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: #fc635e;
  font-size: 20px;
  font-weight: 200;
  font-family: "PF Encore Sans Pro";
  color: #f2f2f2;
  line-height: 1.299;
  text-align: center;
  cursor: pointer;
}
