body {
  margin: 0 auto;
  max-width: 1260px;
}
body a.arrowDown {
  margin: 0 auto;
  font-size: 30px;
  text-decoration: none;
  color: #fc635e;
  border-radius: 50%;
  border: 2px solid #fc635e;
  background: transparent;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
}
body a.arrowDown:hover {
  background: #fc635e;
  color: white;
}
body a.btn {
  color: #fc635e;
  text-decoration: none;
  font-size: 22px;
  border: 2px solid #fc635e;
  padding: 12px 28px;
  border-radius: 8px;
}
body a.btn:hover {
  background: #fc635e;
  color: white;
}
body .section-promo {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
body .section-promo span {
  color: #fc635e;
}
body .section-title {
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  border-bottom: solid 2px #ADADAD;
}
body .section-title span {
  color: #fc635e;
}
body header {
  background: url('../img/background.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  max-width: 1260px;
  justify-content: space-around;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav > a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
body header nav > a img {
  padding-right: 15px;
  vertical-align: middle;
}
body header nav .logo:hover img {
  opacity: 0.7;
}
body header nav menu {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
body header nav menu li {
  padding-left: 15px;
}
body header nav menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
body header nav menu li a:hover {
  color: #fc635e;
  border-bottom: #fc635e solid 3px;
  padding-bottom: 5px;
}
body header .mainText {
  text-align: center;
}
body header .mainText .section-promo {
  font-weight: normal;
}
body header .mainText p {
  color: white;
  font-size: 22px;
}
body .receive {
  margin-top: 0;
  text-align: center;
  background: white;
  padding: 70px 50px 10px 50px;
  color: #868686;
}
body .receive p {
  font-size: 20px;
  margin-bottom: 50px;
  color: #ADADAD;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 80px;
}
body .receive a {
  font-size: 30px;
  text-decoration: none;
  color: #fc635e;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
body .receive a:hover {
  background: #fc635e;
  color: white;
}
body .receive .icons {
  display: flex;
  justify-content: space-between;
}
body .receive .icons .icons-cont {
  max-width: 200px;
}
body .receive .icons .icons-cont h3 {
  text-decoration: underline;
  text-transform: uppercase;
}
body .receive .icons .icons-cont p {
  font-size: 15px;
}
body .expand {
  background: url('../img/bg_1.png') center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 20px;
}
body .expand .expand-cont {
  margin: 0 auto;
  border-width: 8px;
  border-color: rgba(255, 255, 255, 0.102);
  border-style: solid;
  max-width: 924px;
  padding-top: 125px;
  padding-bottom: 100px;
}
body .expand .expand-cont .section-promo {
  font-weight: bold;
  margin-bottom: 50px;
}
body .expand .arrowDown {
  margin-top: 50px;
}
