@media screen and (max-width: 768px) and (min-width: 550px){
    nav {
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) and (min-width: 550px){
    nav {
        padding: 0px 20px;
    }
    menu {
    display: flex;
    flex-direction: column;
    }
    menu li {
        margin-bottom: 10px;
    }
    body header .mainText h1 {
        font-size: 40px;
        margin-top: -20px;
    }
    body header .mainText p {
        font-size: 18px;
        padding-bottom: 20px;
    }
}

    